:root {
  --color-dark-purple: hsl(273, 85%, 13%);
  --color-eucaplyptus: hsl(150, 100%, 63%);
  --color-davy-grey: hsl(271, 12%, 34%);
  --color-ghost-white: hsl(274, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
}
