h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", "Helvetica";
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.155172413793103rem + 4.137931034482759vw, 5rem);
}

h2 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.2241379310344829rem + 3.3103448275862064vw, 3.5rem);
}

h3 {
  font-size: 1.75rem;
  font-size: clamp(1.75rem, 1.6206896551724137rem + 0.5517241379310345vw, 2rem);
}

span {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 12px;
  text-decoration-color: var(--color-eucaplyptus);
}
